body{
    /* background-color: aqua; */
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex:1;
}

.navbar{
    height:5rem;
    background-color: white;
}

.fa-regular{
    color:#fe424d;
    font-size:2rem;
}

.nav-link{
    color:#222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color:#222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.f-info-socials,.f-info-brand{
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    margin-right:1rem;
    font-size:1.2rem;
}

.f-info{
    text-align:center;
    display:flex;
    height:8rem;
    background-color: #ebebeb;
    flex-wrap:wrap;
    justify-content: center;
    align-items: space-around;
}

/* Cards */

.card{
    border:none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
}

.card-body{
    padding:0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* CARD EFFECT */

.card-img-overlay{
    opacity:0;
}

.card-img-overlay:hover{
    opacity:0.2;
    background-color: white;
}

/* New Page */

.add-btn{
    background-color:#fe424d !important;
    border:none !important;
}

/* Edit page */
.edit-btn{
    background-color:#fe424d !important;
    border:none !important;
}

/* SHOW PAGE */

.show-img{
    height:30vh;
}

.btns{
    display:flex;
}

.show-card{
    padding-left:0;
    padding-right:0;
}

/* //chatbot */

.chat-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.chat-popup {
  position: fixed;
  bottom: 90px;
  right: 20px;
  width: 300px;
  height: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-direction: column;
}

.chat-header {
  background: #0d6efd;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.chat-messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  font-size: 14px;
}

.chat-input {
  display: flex;
  padding: 10px;
}

.chat-input input {
  flex: 1;
  margin-right: 5px;
}
